In [32]:
pip install sqlalchemy pandas

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.32)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [33]:
from sqlalchemy import create_engine
import getpass
import pandas as pd

password = getpass.getpass("Please enter the SQL database password: ")
connection_string = f'mysql+pymysql://root:{password}@localhost/sakila'
engine = create_engine(connection_string)

def rentals_month(engine, month, year):
    query = f"""
    SELECT rental_id, rental_date, customer_id, return_date, staff_id, inventory_id
    FROM rental
    WHERE MONTH(rental_date) = {month} AND YEAR(rental_date) = {year};
    """
    df = pd.read_sql(query, engine)
    return df

may_rentals = rentals_month(engine, 5, 2005)
print(may_rentals.head())

Please enter the SQL database password:  ········

   rental_id         rental_date  customer_id         return_date  staff_id  \
0          1 2005-05-24 22:53:30          130 2005-05-26 22:04:30         1
1          2 2005-05-24 22:54:33          459 2005-05-28 19:40:33         1
2          3 2005-05-24 23:03:39          408 2005-06-01 22:12:39         1
3          4 2005-05-24 23:04:41          333 2005-06-03 01:43:41         2
4          5 2005-05-24 23:05:21          222 2005-06-02 04:33:21         1

   inventory_id
0           367
1          1525
2          1711
3          2452
4          2079

In [34]:
def rentals_month(engine, month, year):
    query = f"""
    SELECT rental_id, rental_date, customer_id, return_date, staff_id, inventory_id
    FROM rental
    WHERE MONTH(rental_date) = {month} AND YEAR(rental_date) = {year};
    """
    df = pd.read_sql(query, engine)
    return df

In [35]:
def rental_count_month(df, month, year):
    rental_count = df.groupby('customer_id').size().reset_index(name=f'rentals_{month:02d}_{year}')
    return rental_count

In [30]:
def compare_rentals(df1, df2):
    combined_df = pd.merge(df1, df2, on='customer_id', how='outer').fillna(0)
    
    combined_df['difference'] = combined_df.iloc[:, 1] - combined_df.iloc[:, 2]
    
    return combined_df

In [40]:
may_rentals = rentals_month(engine, 5, 2005)
june_rentals = rentals_month(engine, 6, 2005)

may_rental_counts = rental_count_month(may_rentals, 5, 2005)
june_rental_counts = rental_count_month(june_rentals, 6, 2005)

comparison = compare_rentals(may_rental_counts, june_rental_counts)

print(comparison)

     customer_id  rentals_05_2005  rentals_06_2005  difference
0              1              2.0              7.0        -5.0
1              2              1.0              1.0         0.0
2              3              2.0              4.0        -2.0
3              4              0.0              6.0        -6.0
4              5              3.0              5.0        -2.0
..           ...              ...              ...         ...
593          595              1.0              2.0        -1.0
594          596              6.0              2.0         4.0
595          597              2.0              3.0        -1.0
596          598              0.0              1.0        -1.0
597          599              1.0              4.0        -3.0

[598 rows x 4 columns]